.cart
  .table__course
    width: rem(450)

  .table__price
    width: rem(145)

  &__flex-wrap
    @include jfcsb
    margin-bottom: rem(30)


  &__flex-col
    width: 100%

    &:first-child
      max-width: rem(810)

    &:last-child
      max-width: rem(390)

  


