.offer
  .typical-block
    padding: 0

  &__top
    padding: rem(30) rem(30) rem(20)

  &__info  
    padding: rem(20) rem(30)
    background: $secondary
    @include aic-jfcsb  
    
    p
      font-weight: 400
      font-size: rem(16)

    &-price
      @include aic  
      font-size: rem(24)
      font-weight: 500
      
      span
        font-size: rem(20)
        color: rgba(#131313, .3)
        margin-left: rem(30)

      .btn
        font-size: rem(16)
        margin-left: rem(40)
          

  .typical-block--horizontal  
    padding: rem(30) rem(40)        