.hero 
  .container 
    .hero__flex-wrap 
      .hero__flex-item
        .hero__item-text
          h1.title.title--h1.title--ttu.title--colored-big
          
            .title__wrap DEUTSCH TREND
          
          p.subtitle Німецька мова від 0 до B2

          p.text Ольга Назаренко - найзрозумлійшій вчитель <br> 20 тисяч студентів вже вчаться
      .hero__flex-item
        .hero__img(data-aos="fade-up")
          img(src="images/dist/hero.webp", alt="").desk
          img(src="images/dist/hero-mob.webp", alt="").mob

        


