.instagram-feed
  .container
    h2.title.title--h2.title--colored-small.title--ttu(data-aos="zoom-in")
      .title__wrap Новини в інстаграм
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-f21e2169-929b-46ea-8a6d-43d7197b9ee5"></div>  
    //- .instagram-feed__subtitle-wrap(data-aos="fade-up")
    //-   .text 
    //-     p Коротенькі, але супер змістовні ролики <br> найзрозумілішого викладача німецької мови
    //-   a.btn.btn--primary(href="#") перейти в instagram профіль     

    //- .instagram-feed__flex-wrap(data-aos="fade-up")  
    //-   .swiper.instagram-feed-js
    //-     .swiper-wrapper
    //-         each item in[1,2,3,4,5]
    //-           .swiper-slide
    //-             a.instagram-feed__item.border-radius.box-shadow(href="http://techslides.com/demos/sample-videos/small.mp4" data-fancybox="gallery")
    //-               img(loading="lazy" src="images/dist/instagram-feed"+item+".webp", alt="" width="230" height="260")
