.typical-block.list
  a.btn.btn--primary(href="#").list-trigger-js
    .icon
      svg(width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
        path.line1(fill-rule='evenodd' clip-rule='evenodd' d='M12.5313 4.25C12.9455 4.25054 13.2809 4.58677 13.2803 5.00098L13.262 19.001C13.2614 19.4152 12.9252 19.7505 12.511 19.75C12.0968 19.7495 11.7614 19.4132 11.762 18.999L11.7803 4.99902C11.7809 4.5848 12.1171 4.24946 12.5313 4.25Z' fill='#131313')
        path.line2(fill-rule='evenodd' clip-rule='evenodd' d='M4.75 12C4.75 11.5858 5.08579 11.25 5.5 11.25H19.5C19.9142 11.25 20.25 11.5858 20.25 12C20.25 12.4142 19.9142 12.75 19.5 12.75H5.5C5.08579 12.75 4.75 12.4142 4.75 12Z' fill='#131313')
    span.show Переглянути уроки курсу
    span.hide згорнути уроки курсу
                      
  ol.list__hidden
    each item in ['Змiшане відмінювання прикметників','Слабке відмінювання прикметників','Сильне відмінювання прикметників','Порядок слів у реченні','Неофіційні листи','n-Deklination','Дієприкметники','Субстантивація','Підрядні речення: weil','Модальні дієслова в минулому часі','Підрядні речення: wenn, als','Офіційні листи']
      li
        a(href="#")=item  
