extends layouts/main

block variables
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';
  - var themecolor = "#F8A5D5";

block title
  | Кошик | DEUTSCH TREND
block main
  .wrapper
    .content
      include includes/header-inside
      
      
      .container
        h1.title.title--h1 Кошик

        .bread-crumbs
          ul 
            li 
              a(href="#") Головна
              
            li Кошик

          a.btn.btn--primary(href="#")  Перейти на сторінку всіх курсів
      
      .gray-bg.cart
        .container
          .cart__flex-wrap
            .cart__flex-col
              .typical-block
                //- table.table 
                  tr 
                    th Курс
                    th Ціна
                    th
                  tr 
                    
                    td.table__course
                      .table__course-wrap
                        img(loading="lazy"  src="images/dist/beginners1.webp", alt="") 
                        | Deutsch Basic 1 (A1.1)
                    td.table__price 94.00€
                    td 
                      a.btn.btn--primary(href="#")  
                        .icon 
                          svg(width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M1.87924 1.87939C2.03789 1.72074 2.29512 1.72074 2.45377 1.87939L11.1204 10.5461C11.2791 10.7047 11.2791 10.9619 11.1204 11.1206C10.9618 11.2792 10.7046 11.2792 10.5459 11.1206L1.87924 2.45392C1.72059 2.29527 1.72059 2.03804 1.87924 1.87939Z' fill='#131313')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M11.1204 1.87939C11.2791 2.03804 11.2791 2.29527 11.1204 2.45392L2.45377 11.1206C2.29512 11.2792 2.03789 11.2792 1.87924 11.1206C1.72059 10.9619 1.72059 10.7047 1.87924 10.5461L10.5459 1.87939C10.7046 1.72074 10.9618 1.72074 11.1204 1.87939Z' fill='#131313')

                        | Прибрати

                  tr 
                    td.table__course
                      .table__course-wrap
                        img(loading="lazy"  src="images/dist/beginners2.webp", alt="") 
                        | Deutsch Basic 1 (A2.1)
                    td.table__price 94.00€
                    td 
                      a.btn.btn--primary(href="#")  
                        .icon 
                          svg(width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M1.87924 1.87939C2.03789 1.72074 2.29512 1.72074 2.45377 1.87939L11.1204 10.5461C11.2791 10.7047 11.2791 10.9619 11.1204 11.1206C10.9618 11.2792 10.7046 11.2792 10.5459 11.1206L1.87924 2.45392C1.72059 2.29527 1.72059 2.03804 1.87924 1.87939Z' fill='#131313')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M11.1204 1.87939C11.2791 2.03804 11.2791 2.29527 11.1204 2.45392L2.45377 11.1206C2.29512 11.2792 2.03789 11.2792 1.87924 11.1206C1.72059 10.9619 1.72059 10.7047 1.87924 10.5461L10.5459 1.87939C10.7046 1.72074 10.9618 1.72074 11.1204 1.87939Z' fill='#131313')

                        | Прибрати
                  tr 
                    td.table__course
                      .table__course-wrap
                        img(loading="lazy"  src="images/dist/beginners3.webp", alt="") 
                        | Deutsch Basic 1 (A2.1)
                    td.table__price 94.00€
                    td 
                      a.btn.btn--primary(href="#")  
                        .icon 
                          svg(width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M1.87924 1.87939C2.03789 1.72074 2.29512 1.72074 2.45377 1.87939L11.1204 10.5461C11.2791 10.7047 11.2791 10.9619 11.1204 11.1206C10.9618 11.2792 10.7046 11.2792 10.5459 11.1206L1.87924 2.45392C1.72059 2.29527 1.72059 2.03804 1.87924 1.87939Z' fill='#131313')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M11.1204 1.87939C11.2791 2.03804 11.2791 2.29527 11.1204 2.45392L2.45377 11.1206C2.29512 11.2792 2.03789 11.2792 1.87924 11.1206C1.72059 10.9619 1.72059 10.7047 1.87924 10.5461L10.5459 1.87939C10.7046 1.72074 10.9618 1.72074 11.1204 1.87939Z' fill='#131313')

                        | Прибрати
            
                table.table 
                  tbody
                    tr
                      th Курс
                      th Ціна
                    tr
                      td(data-th='Курс').table__course
                        .table__course-wrap
                          img(loading="lazy"  src="images/dist/beginners1.webp", alt="") 
                          | Deutsch Basic 1 (A1.1)
                          
                      td(data-th='Ціна').table__price
                        .table__price-wrap 
                          | 94.00€
                          a.btn.btn--primary(href="#")  
                            .icon 
                              svg(width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M1.87924 1.87939C2.03789 1.72074 2.29512 1.72074 2.45377 1.87939L11.1204 10.5461C11.2791 10.7047 11.2791 10.9619 11.1204 11.1206C10.9618 11.2792 10.7046 11.2792 10.5459 11.1206L1.87924 2.45392C1.72059 2.29527 1.72059 2.03804 1.87924 1.87939Z' fill='#131313')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M11.1204 1.87939C11.2791 2.03804 11.2791 2.29527 11.1204 2.45392L2.45377 11.1206C2.29512 11.2792 2.03789 11.2792 1.87924 11.1206C1.72059 10.9619 1.72059 10.7047 1.87924 10.5461L10.5459 1.87939C10.7046 1.72074 10.9618 1.72074 11.1204 1.87939Z' fill='#131313')

                            | Прибрати
                      
                    


            .cart__flex-col
              .typical-block
                .typical-block__total
                  .typical-block__title Сума замовлення
                  .typical-block__sum 
                    span Підсумок
                    span 282.00€
                  .typical-block__total-sum
                    span ЗАГАЛОМ
                    span 282.00€
                

                  label(for="coupon")  Є купон? Натисніть, щоб ввести
                  .input 
                    input(type="text" placeholder="Deutsch_trend2023")#coupon

                  a.btn.btn--secondary(href="#") Оформити замовлення
                  a.btn.btn--primary(href="#") Продовжити покупки

          .offer
            .typical-block
              .offer__top
                h3.title.title--h3.title--colored-small(data-aos="zoom-in")
                  .title__wrap Спеціальна пропозиція:
              
              .offer__info
                div
                  h3.title.title--h3 Курс Deutsch Basic 1 (A1.2) зі знижкою 50%
                  p Тільки зараз при купівлі з вашим курсом 
                
                .offer__info-price 
                  | 59.00€
                  span 119.00€
                  a.btn У кошик

              .typical-block--horizontal   
                
                .typical-block__col 
                  .typical-block__img
                    img(loading="lazy"  src="images/dist/course-package-detail.webp", alt="") 
                .typical-block__col
                  div
                    h3.title.title--h3 Цей курс для Вас
                    p Якщо Ви:  
                    br
                    ul
                      li Володієте рівнем А1
                      li Готуєтеся до іспиту А2 / В1
                      li Хочете впевнено себе почувати, спілкуючись усно або письмово німецькою мовою
                      li Цінуєте свій час і вибираєте вчитися в комфортній обстановці
                  
                 
     

    
    include includes/footer


  include includes/scripts 