extends layouts/main

block variables
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';
  

block title
  | Реєстрація та вхід | DEUTSCH TREND
block main
  .wrapper
    .content
      include includes/header-inside
      
      
      .forms 
        .container
          .forms__flex-wrap 
            .forms__flex-col
              .forms__element
                .stroke-primary(data-aos="zoom-in")
              form(action="") 
                .typical-block 
                  h2.title.title--h2.title--ttu Увійти

                  .input-wrap
                    label(for="name").fw-800 Ім'я користувача та Email
                    .input
                      input#name(type="text") 
                  
                  .input-wrap
                    label(for="password").fw-800 Пароль
                    .input.input--pass
                      input#pass(type="password")
                      .icon.show-pass
                        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')
   
                      .icon.hide-pass
                        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')

                  .checkbox.agree
                    .checkbox__wrap 
                      input(type="checkbox")#agree1
                      span
                        svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M2.1875 1.65625C1.8941 1.65625 1.65625 1.8941 1.65625 2.1875V12.8125C1.65625 13.1059 1.89409 13.3437 2.1875 13.3437H12.8125C13.1059 13.3437 13.3437 13.1059 13.3437 12.8125V6.08333C13.3437 5.78993 13.5816 5.55208 13.875 5.55208C14.1684 5.55208 14.4062 5.78993 14.4062 6.08333V12.8125C14.4062 13.6927 13.6927 14.4062 12.8125 14.4062H2.1875C1.3073 14.4062 0.59375 13.6927 0.59375 12.8125V2.1875C0.59375 1.3073 1.3073 0.59375 2.1875 0.59375H9.625C9.9184 0.59375 10.1562 0.831599 10.1562 1.125C10.1562 1.4184 9.9184 1.65625 9.625 1.65625H2.1875Z' fill='#F8A5D5')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M13.8296 1.04687C14.0684 1.21741 14.1237 1.5492 13.9531 1.78795L8.64063 9.22545C8.55582 9.34419 8.4259 9.42281 8.28136 9.44287C8.13683 9.46293 7.99041 9.42266 7.87646 9.3315L4.3348 6.49817C4.10569 6.31488 4.06854 5.98057 4.25183 5.75146C4.43512 5.52236 4.76943 5.48521 4.99854 5.6685L8.10212 8.15137L13.0885 1.17038C13.2591 0.931633 13.5909 0.876335 13.8296 1.04687Z' fill='#F8A5D5')

                      label(for="agree1") Запам'ятати мене
                    
                    a(href="#") Забіли пароль?

                  button(type="submit").btn.btn--primary  увійти

            .forms__flex-col 
              .forms__element 
                .stroke-primary(data-aos="zoom-in")
              form(action="") 
                .typical-block 
                  h2.title.title--h2.title--ttu Зареєструватися

                  .input-wrap
                    label(for="email").fw-800 Email
                    .input
                      input#email(type="text") 
                  
                  .input-wrap
                    label(for="password").fw-800 Пароль
                    .input.input--pass
                      input#pass(type="password")
                      .icon.show-pass
                        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')
   
                      .icon.hide-pass
                        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')

                  p Ваші особисті дані будуть використовуватися для обробки вашого замовлення, підтримки вашої діяльності на цьому сайті та для інших цілей, описаних на сторінці політика конфіденційності.

                  .checkbox.agree
                    .checkbox__wrap 
                      input(type="checkbox")#agree2
                      span
                        svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M2.1875 1.65625C1.8941 1.65625 1.65625 1.8941 1.65625 2.1875V12.8125C1.65625 13.1059 1.89409 13.3437 2.1875 13.3437H12.8125C13.1059 13.3437 13.3437 13.1059 13.3437 12.8125V6.08333C13.3437 5.78993 13.5816 5.55208 13.875 5.55208C14.1684 5.55208 14.4062 5.78993 14.4062 6.08333V12.8125C14.4062 13.6927 13.6927 14.4062 12.8125 14.4062H2.1875C1.3073 14.4062 0.59375 13.6927 0.59375 12.8125V2.1875C0.59375 1.3073 1.3073 0.59375 2.1875 0.59375H9.625C9.9184 0.59375 10.1562 0.831599 10.1562 1.125C10.1562 1.4184 9.9184 1.65625 9.625 1.65625H2.1875Z' fill='#F8A5D5')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M13.8296 1.04687C14.0684 1.21741 14.1237 1.5492 13.9531 1.78795L8.64063 9.22545C8.55582 9.34419 8.4259 9.42281 8.28136 9.44287C8.13683 9.46293 7.99041 9.42266 7.87646 9.3315L4.3348 6.49817C4.10569 6.31488 4.06854 5.98057 4.25183 5.75146C4.43512 5.52236 4.76943 5.48521 4.99854 5.6685L8.10212 8.15137L13.0885 1.17038C13.2591 0.931633 13.5909 0.876335 13.8296 1.04687Z' fill='#F8A5D5')

                      label(for="agree2") Я хочу отримувати новини про товари та промоакції
                    
                    

                  button(type="submit").btn.btn--primary  зареєструватися 
              
          
      

    
    include includes/footer


  include includes/scripts 