extends layouts/main

block variables
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Редагувати профіль | DEUTSCH TREND
block main
  .wrapper
    .content
      include includes/header-inside
      .container
        h1.title.title--h1 Редагувати профіль

        .bread-crumbs
          ul 
            li 
              a(href="#") Головна
            li 
              a(href="#") Мій акаунт

            li Редагувати профіль

          a.btn.btn--primary(href="#")  Перейти на сторінку всіх курсів

      .gray-bg
        .profile 
          .container
            form(action="#") 
              .profile__flex-wrap 
                .profile__flex-item.profile__img-block.typical-block
                  h3.title.title--h3.title--colored-small(data-aos="zoom-in") 
                    .title__wrap Фотографія профілю

                  .profile__img-wrap 
                    .profile__img 
                      img(loading="lazy"  src="images/dist/profile.webp", alt="")
                      
                    .profile__img-edit
                      svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M14.7404 1.18394C14.9845 0.939866 15.3802 0.939866 15.6243 1.18394L19.1599 4.71947C19.2771 4.83668 19.3429 4.99565 19.3429 5.16141C19.3429 5.32717 19.2771 5.48614 19.1599 5.60335L6.19623 18.567C6.07902 18.6842 5.92004 18.75 5.75427 18.75L2.21884 18.75C1.87368 18.7499 1.59387 18.4701 1.59386 18.125L1.59375 14.5895C1.59374 14.4237 1.65959 14.2648 1.77681 14.1476L14.7404 1.18394ZM15.1824 2.50977L2.84376 14.8484L2.84384 17.5L5.49541 17.5L17.834 5.16141L15.1824 2.50977Z' fill='#131313')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M11.2047 4.7194C11.4488 4.47533 11.8445 4.47533 12.0886 4.7194L15.6241 8.25495C15.8682 8.49902 15.8682 8.89475 15.6241 9.13883C15.3801 9.38291 14.9843 9.38291 14.7402 9.13883L11.2047 5.60329C10.9606 5.35921 10.9606 4.96348 11.2047 4.7194Z' fill='#131313')

                  .profile__primary-text.primary-color
                    svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                      g(clip-path='url(#clip0_290_6683)')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M2.74913 2.74912C3.96448 1.53379 5.64481 0.78125 7.5 0.78125C9.35519 0.78125 11.0355 1.53379 12.2509 2.74912C13.4662 3.96448 14.2188 5.64481 14.2188 7.5C14.2188 9.35519 13.4662 11.0355 12.2509 12.2509C11.0355 13.4662 9.35519 14.2188 7.5 14.2188C5.64481 14.2188 3.96448 13.4662 2.74913 12.2509C1.53379 11.0355 0.78125 9.35519 0.78125 7.5C0.78125 5.64481 1.53379 3.96448 2.74913 2.74912ZM7.5 1.71875C5.90344 1.71875 4.45877 2.36533 3.41203 3.41204C2.36532 4.45877 1.71875 5.90344 1.71875 7.5C1.71875 9.09656 2.36533 10.5412 3.41204 11.588C4.45877 12.6347 5.90344 13.2812 7.5 13.2812C9.09656 13.2812 10.5412 12.6347 11.5879 11.5879C12.6347 10.5412 13.2812 9.09656 13.2812 7.5C13.2812 5.90344 12.6347 4.45877 11.588 3.41204C10.5412 2.36533 9.09656 1.71875 7.5 1.71875Z' fill='#F8A5D5')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.5 3.4375C7.93147 3.4375 8.28125 3.78728 8.28125 4.21875C8.28125 4.65022 7.93147 5 7.5 5C7.06853 5 6.71875 4.65022 6.71875 4.21875C6.71875 3.78728 7.06853 3.4375 7.5 3.4375Z' fill='#F8A5D5')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6.5625 6.25C6.5625 5.99112 6.77237 5.78125 7.03125 5.78125H7.65625C7.91513 5.78125 8.125 5.99112 8.125 6.25V10.625C8.125 10.8839 7.91513 11.0938 7.65625 11.0938C7.39737 11.0938 7.1875 10.8839 7.1875 10.625V6.71875H7.03125C6.77237 6.71875 6.5625 6.50888 6.5625 6.25Z' fill='#F8A5D5')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6.09375 10.625C6.09375 10.3661 6.30362 10.1562 6.5625 10.1562H8.75C9.00888 10.1562 9.21875 10.3661 9.21875 10.625C9.21875 10.8839 9.00888 11.0938 8.75 11.0938H6.5625C6.30362 11.0938 6.09375 10.8839 6.09375 10.625Z' fill='#F8A5D5')
                      defs
                        clippath#clip0_290_6683
                          rect(width='15' height='15' fill='white')
                    | Розмір фото профілю: 200x200 пікселів

                .profile__flex-item.profile__log-pass.typical-block
                  h3.title.title--h3.title--colored-small(data-aos="zoom-in") 
                    .title__wrap Логін і пароль
                  .profile__log-pass-wrap
                    .input-wrap 
                      label(for="currentpass") Поточний пароль
                      .input.input--pass
                        input#currentpass(type="password")
                        .icon.show-pass
                          svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')
    
                        .icon.hide-pass
                          svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')

                    .input-wrap 
                      label(for="newpass") Новий пароль
                      .input.input--pass
                        input#newpass(type="password")
                        .icon.show-pass
                          svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')
    
                        .icon.hide-pass
                          svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')

                    .input-wrap 
                      label(for="email") Email
                      .input
                        input#email(type="text")                  

                    .input-wrap 
                      label(for="repeatnewpass") Повторіть новий пароль
                      .input.input--pass
                        input#repeatnewpass(type="password")
                        .icon.show-pass
                          svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')
    
                        .icon.hide-pass
                          svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M2.00896 2.00894C2.28015 1.73774 2.71985 1.73774 2.99105 2.00894L17.991 17.0089C18.2622 17.2801 18.2622 17.7198 17.991 17.991C17.7199 18.2622 17.2802 18.2622 17.009 17.991L11.4117 12.3938C10.9903 12.6433 10.5068 12.7791 10.0091 12.7814C9.28403 12.7847 8.58644 12.5044 8.06528 12.0003C7.54411 11.4963 7.24068 10.8084 7.21978 10.0837C7.20453 9.55482 7.34063 9.03686 7.60623 8.58831L2.00896 2.99103C1.73776 2.71984 1.73776 2.28014 2.00896 2.00894ZM8.65638 9.63846C8.62073 9.76928 8.60411 9.90573 8.60809 10.0437C8.61854 10.406 8.77026 10.75 9.03084 11.002C9.29142 11.254 9.64022 11.3942 10.0027 11.3925C10.125 11.392 10.2456 11.3753 10.3616 11.3437L8.65638 9.63846ZM10 5.69443C9.49642 5.69443 8.99937 5.76191 8.51386 5.88234C8.14161 5.97467 7.76499 5.74776 7.67265 5.37551C7.58031 5.00326 7.80723 4.62664 8.17948 4.5343C8.7623 4.38973 9.37191 4.30554 10 4.30554C12.543 4.30554 14.783 5.67827 16.3358 6.96534C17.122 7.61704 17.7565 8.26714 18.1948 8.7543C18.4143 8.99832 18.5856 9.20264 18.7032 9.34742C18.762 9.41984 18.8074 9.47746 18.8387 9.5178C18.8544 9.53798 18.8666 9.55384 18.8751 9.56509L18.8852 9.57846L18.8883 9.58248L18.8893 9.58381C18.8894 9.58401 18.8899 9.58469 18.3333 9.99999C18.8899 10.4153 18.8898 10.4154 18.8897 10.4155L18.8892 10.4162L18.8882 10.4175L18.8852 10.4216L18.8751 10.4349C18.8665 10.4462 18.8543 10.462 18.8387 10.4822C18.8073 10.5226 18.7619 10.5802 18.7031 10.6526C18.5855 10.7974 18.4142 11.0017 18.1946 11.2457C17.7564 11.7328 17.1218 12.3829 16.3357 13.0346C16.0404 13.2794 15.6026 13.2384 15.3579 12.9432C15.1131 12.6479 15.154 12.2101 15.4493 11.9654C16.1711 11.367 16.757 10.7671 17.1621 10.3168C17.2673 10.1999 17.36 10.0934 17.4395 9.99995C17.36 9.90656 17.2673 9.80006 17.1622 9.68318C16.7571 9.23283 16.1712 8.63294 15.4494 8.03464C13.9861 6.82171 12.0595 5.69443 10 5.69443ZM18.3333 9.99999L18.8897 10.4155C19.0736 10.1692 19.0738 9.83106 18.8899 9.58469L18.3333 9.99999ZM4.6422 7.05687C4.88693 7.35217 4.84592 7.78996 4.55062 8.03468C3.82869 8.63297 3.24284 9.23284 2.83775 9.68317C2.7326 9.80006 2.63991 9.90656 2.56047 9.99996C2.63993 10.0934 2.73264 10.1999 2.83781 10.3168C3.24293 10.7671 3.82877 11.367 4.55057 11.9653C6.01387 13.1783 7.94051 14.3055 10 14.3055C10.5081 14.3055 11.0088 14.237 11.4982 14.1146C11.8703 14.0216 12.2474 14.2478 12.3404 14.6199C12.4334 14.992 12.2072 15.369 11.8351 15.462C11.2478 15.6088 10.6336 15.6944 10 15.6944C7.457 15.6944 5.21697 14.3217 3.66423 13.0346C2.87801 12.3829 2.24348 11.7328 1.80524 11.2457C1.58572 11.0017 1.4144 10.7973 1.29685 10.6526C1.23805 10.5801 1.19263 10.5225 1.16128 10.4822C1.14561 10.462 1.13345 10.4461 1.12489 10.4349L1.11476 10.4215L1.11174 10.4175L1.11074 10.4162C1.11059 10.416 1.11009 10.4153 1.66667 9.99999C1.11005 9.58475 1.11011 9.58466 1.11018 9.58457L1.1117 9.58254L1.11472 9.57852L1.12485 9.56515C1.13341 9.5539 1.14557 9.53803 1.16124 9.51785C1.19258 9.4775 1.23799 9.41988 1.29679 9.34746C1.41433 9.20267 1.58565 8.99834 1.80517 8.7543C2.24341 8.26713 2.87798 7.61701 3.66438 6.96529C3.95969 6.72056 4.39747 6.76156 4.6422 7.05687ZM1.66667 9.99999L1.11018 9.58457C0.926398 9.83092 0.926286 10.169 1.11009 10.4153L1.66667 9.99999Z' fill='#1C1B1F')
                    
                .profile__flex-item.profile__profile.typical-block
                  h3.title.title--h3.title--colored-small(data-aos="zoom-in") 
                    .title__wrap Профіль
                
                  

                  .profile__profile-wrap

                    .input-wrap 
                      label(for="name") Им’я
                      .input.input--pass
                        input#name(type="text")
                        
                    .input-wrap 
                      label(for="login") Прізвище
                      .input.input--pass
                        input#login(type="text")
                        
                    .input-wrap 
                      label(for="phone") Номер телефону
                      .input.input--pass
                        input#phone(type="text")

                  .checkbox.agree
                    .checkbox__wrap 
                      input(type="checkbox")#agree
                      span
                        svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M2.1875 1.65625C1.8941 1.65625 1.65625 1.8941 1.65625 2.1875V12.8125C1.65625 13.1059 1.89409 13.3437 2.1875 13.3437H12.8125C13.1059 13.3437 13.3437 13.1059 13.3437 12.8125V6.08333C13.3437 5.78993 13.5816 5.55208 13.875 5.55208C14.1684 5.55208 14.4062 5.78993 14.4062 6.08333V12.8125C14.4062 13.6927 13.6927 14.4062 12.8125 14.4062H2.1875C1.3073 14.4062 0.59375 13.6927 0.59375 12.8125V2.1875C0.59375 1.3073 1.3073 0.59375 2.1875 0.59375H9.625C9.9184 0.59375 10.1562 0.831599 10.1562 1.125C10.1562 1.4184 9.9184 1.65625 9.625 1.65625H2.1875Z' fill='#F8A5D5')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M13.8296 1.04687C14.0684 1.21741 14.1237 1.5492 13.9531 1.78795L8.64063 9.22545C8.55582 9.34419 8.4259 9.42281 8.28136 9.44287C8.13683 9.46293 7.99041 9.42266 7.87646 9.3315L4.3348 6.49817C4.10569 6.31488 4.06854 5.98057 4.25183 5.75146C4.43512 5.52236 4.76943 5.48521 4.99854 5.6685L8.10212 8.15137L13.0885 1.17038C13.2591 0.931633 13.5909 0.876335 13.8296 1.04687Z' fill='#F8A5D5')

                      label(for="agree") Відписатися від новин про знижки та акції

                .profile__flex-item.profile__save
                  .typical-block 
                    a.btn.btn--primary(href="#")  Зберегти зміни             
                        



    
    include includes/footer


  include includes/scripts 